#textdomain wesnoth-A_Rough_Life
[unit_type]
    id=Elven Queen
    name= _ "Elven Queen"
    profile="portraits/elves/lady.png"
    hitpoints=50
    movement_type=elusivefoot
    movement=6
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    advances_to=null
    cost=55
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
        {ABILITY_CURES}
    [/abilities]
    usage=mixed fighter
    race=elf
    gender=female
    image="units/elves-wood/enchantress.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elves/transparent/lady.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elves/transparent/lady.png"
    [/portrait]
    {DEFENSE_ANIM_RANGE "units/elves-wood/enchantress-defend-2.png" "units/elves-wood/enchantress-defend-1.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves-wood/enchantress-defend-2.png" "units/elves-wood/enchantress-defend-1.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    description= _ "As a Queen, Kyoko has fully developed the benefits of her mixed ancestry. Seemingly a fragile lady, inwardly she is both a fierce fighter and a wily enchantress. There are not many things she cannot do in a fight or beyond it, inspiring hope in those in her care."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_ARCANE}
    [resistance]
        arcane=90
    [/resistance]
    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=8
        number=4
        range=melee
        icon=attacks/staff-elven.png
    [/attack]
    [attack]
        name=entangle
        description=_"entangle"
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=5
        number=3
        range=ranged
    [/attack]
    [attack]
        name=faerie fire
        description=_"faerie fire"
        type=arcane
        damage=9
        number=4
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
    [attack]
        name=thorns
        description=_"thorns"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
        range=ranged
    [/attack]
    [healing_anim]
        [frame]
            begin=-200
            end=-145
            image="units/elves-wood/enchantress-magic-1.png"
            halo="halo/elven/druid-healing1.png"
        [/frame]
        [frame]
            begin=-145
            end=-90
            image="units/elves-wood/enchantress-magic-1.png"
            halo="halo/elven/druid-healing2.png"
        [/frame]
        [frame]
            begin=-90
            end=-35
            image="units/elves-wood/enchantress-magic-1.png"
            halo="halo/elven/druid-healing3.png"
        [/frame]
        [frame]
            begin=-35
            end=20
            image="units/elves-wood/enchantress-magic-1.png"
            halo="halo/elven/druid-healing4.png"
        [/frame]
        [frame]
            begin=20
            end=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo="halo/elven/druid-healing5.png"
        [/frame]
        [frame]
            begin=75
            end=130
            image="units/elves-wood/enchantress-magic-2.png"
            halo="halo/elven/druid-healing6.png"
        [/frame]
        [frame]
            begin=130
            end=185
            image="units/elves-wood/enchantress-magic-2.png"
            halo="halo/elven/druid-healing7.png"
        [/frame]
        [frame]
            begin=185
            end=240
            image="units/elves-wood/enchantress-magic-2.png"
            halo="halo/elven/druid-healing8.png"
        [/frame]
    [/healing_anim]
    [attack_anim]
        [filter_attack]
            name=faerie fire
        [/filter_attack]
        start_time=-450
        {MISSILE_FRAME_FAERIE_FIRE}

        [if]
            hits=yes
            [frame]
                duration=75
                image="units/elves-wood/enchantress-magic-1.png"
                sound=magic-faeriefire.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/elves-wood/enchantress-magic-1.png"
                sound=magic-faeriefire-miss.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/else]

        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-1.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=entangle
        [/filter_attack]
        start_time=-450
        [missile_frame]
            offset=1.0
            begin=-200
            end=50
            image="projectiles/entangle.png"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-1.png"
            halo=halo/elven/nature-halo1.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        {SOUND:SLOW}
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo6.png
            sound=entangle.wav
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-1.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-250
        [frame]
            duration=90
            image="units/elves-wood/enchantress-melee-1.png"
        [/frame]
        [frame]
            duration=90
            image="units/elves-wood/enchantress-melee-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/elves-wood/enchantress-melee-3.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/elves-wood/enchantress-melee-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/elves-wood/enchantress-melee-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/enchantress-melee-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/elves-wood/enchantress-melee-6.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thorns
        [/filter_attack]
        start_time=-450
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                duration=75
                image="units/elves-wood/enchantress-magic-1.png"
                sound=magic-thorns-1.ogg,magic-thorns-2.ogg

                halo=halo/elven/nature-halo1.png
                halo_x,halo_y=0,-12
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/elves-wood/enchantress-magic-1.png"
                sound=magic-thorns-miss-1.ogg,magic-thorns-miss-2.ogg

                halo=halo/elven/nature-halo1.png
                halo_x,halo_y=0,-12
            [/frame]
        [/else]

        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-2.png"
            halo=halo/elven/nature-halo6.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-1.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            duration=75
            image="units/elves-wood/enchantress-magic-1.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
[/unit_type]
