#textdomain wesnoth-A_Rough_Life
[unit_type]
    [base_unit]
        id=Skeleton
    [/base_unit]
    id=Skeleton Guardian right
    name=_ "Skeleton Guardian"
    experience=50
    advances_to=null
    {AMLA_DEFAULT}
    #~RIGHT() makes the portrait appear on right side of screen in messages, instead of left side.
    profile=portraits/undead/transparent/skeleton.png~FL(horiz)~RIGHT()
    description= _ "Normally, warriors that have been slain in battle and brought back by dark magics are nearly mindless and unwavering in their purpose, fearing neither pain nor death. Every now and then, however, something goes amiss in the process, and the resulting skeleton retains some of its former awareness, yet hampered by the horrifying experience of dying vividly etched in its mind."
    [portrait]
        size=400
        side="right"
        mirror="true"
        image=portraits/undead/transparent/skeleton.png~FL(horiz)
    [/portrait]
    [portrait]
        size=400
        side="left"
        mirror="true"
        image=" "
    [/portrait]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-undead.png
        type=blade
        range=melee
        damage=12
        number=3
    [/attack]
[/unit_type]
